  @font-face {
    font-family: "TTLakes";
    src: url("/fonts/TTLakesBold.woff") format("woff"), url("/fonts/TTLakesBold.woff2") format("woff2");
    font-weight: 700; }
  
  @font-face {
    font-family: 'TTLakes';
    src: url("/fonts/TTLakes-Medium.woff") format("woff"), url("/fonts/TTLakesMedium.woff2") format("woff2");
    font-weight: 500; }
  
  @font-face {
    font-family: 'TTLakes';
    src: url("/fonts/TTLakes-Regular.woff") format("woff"), url("/fonts/TTLakesRegular.woff2") format("woff2");
    font-weight: 400; }
    
html {
        box-sizing: border-box;
}
      *, 
      *:before, 
      *:after {
        box-sizing: inherit;
}
:root {
        --font-family: "TT Lakes", sans-serif;
}
body {
      margin:0;
      padding: 0;
      background-color: #F8F8F8;
}

button {
  border:none;
  background-color: #fff;
  padding: 0;
  cursor: pointer;
}

button:hover {
  transition: 0.4s;
  opacity: 50%;
}

.brands-menu__header {
border-top: 1px solid #d9fff5;
margin-top: 19px;
margin-bottom: 16px;
background-color: #fff;
}

.brands-menu__title {
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #7e7e82;
margin: 0;
padding: 16px;
}

.brands-block {
  display: flex;
  overflow: hidden;
  margin-bottom: 24px;
}

.brands-block__element {
  display: flex;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  gap:60px;

  margin:0 16px;
  margin-bottom:16px;
}
.brands-block__img {
  max-height: 55px;
}

@media (min-width: 768px) {
  .brands-block {
    max-width: 768px;
    flex-wrap: wrap;
    height: 170px;
  }
  .brands-menu__header {
    max-width: 768px;
  }
 .brands-block__element {
  width:224px;
  }
  .brands-block__img {
    width: 100%;
  }
}

@media (min-width: 1120px) {
  .brands-block {
    max-width: 1030px;
    flex-wrap: wrap;
    height: 180px;
  }
  .brands-menu__header {
    max-width: 1010px;
  }
  .brands-block__element {
    width:224px;
  }
  .brands-block__img {
    width: 100%;
  }
}