  @font-face {
    font-family: "TTLakes";
    src: url("/fonts/TTLakesBold.woff") format("woff"), url("/fonts/TTLakesBold.woff2") format("woff2");
    font-weight: 700; }
  
  @font-face {
    font-family: 'TTLakes';
    src: url("/fonts/TTLakes-Medium.woff") format("woff"), url("/fonts/TTLakesMedium.woff2") format("woff2");
    font-weight: 500; }
  
  @font-face {
    font-family: 'TTLakes';
    src: url("/fonts/TTLakes-Regular.woff") format("woff"), url("/fonts/TTLakesRegular.woff2") format("woff2");
    font-weight: 400; }
    
html {
        box-sizing: border-box;
        height: 100vh;
}
      *, 
      *:before, 
      *:after {
        box-sizing: inherit;
}
:root {
        --font-family: "TT Lakes", sans-serif;
}
body {
      margin:0;
      padding: 0;
      background-color: #F8F8F8;
      height: 100%; 
}


button {
  border:none;
  background-color: #fff;
  padding: 0;
  cursor: pointer;
}

button:hover {
  transition: 0.4s;
  opacity: 50%;
}

.container {
  width: 100%;
}

.brands-menu__container {
  width: 100%;
}
.swiper {
  mask-image: linear-gradient(to left, transparent, #000 10%);
}
.brands-menu__header {
border-top: 1px solid #d9fff5;
margin-top: 19px;
margin-bottom: 16px;
background-color: #fff;
}

.brands-menu__title {
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #7e7e82;
margin: 0;
padding: 16px;
}

.brand-item__inner {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 16px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
}

.mySwiper__wrapper {
  padding: 16px;
}

.swiper-slide {
padding-bottom: 16px;  
width: auto;
}
.brand-item {
  width: 228px;
}
.brand-item__img {
  max-height: 44px;
}

.brand-button {
  display: none;
}
.brand-button__text {
  font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: -0.01em;
color: #1b1c21;
}

.brand-button__img--open {
 transform: rotate(180deg);
}


@media (min-width: 768px) {
.brand-item {
height: 77px;
width: 226px;
}

.mySwiper__wrapper {
  flex-wrap: wrap;
  gap: 16px;
  overflow: hidden;
  height: 164px;
}
.mySwiper__wrapper--close {
  height: 164px ;
  transition: height 0.5s ease;
}
.mySwiper__wrapper--open {
  height: 344px ;
  transition: height 0.5s ease;
}

.swiper-slide {
  display: flex;
  padding-bottom: 0;
  width: auto;
  flex-wrap: wrap;
  height: 77px;
}

.container {
  display: flex;
  width: 768px;
}

.brand-button {
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: #f8f8f8;
  border: none;
  margin-left: 16px;
  margin-bottom: 16px;
}

.swiper-pagination {
  display: none;
}

.brands-menu {
  width: 768px;
}

}

@media (min-width: 1120px) {
  .container {
    display: flex;
    width: 1120px;
  }
  .brands-menu {
    width: 1120px;
  }
  .mySwiper__wrapper--open {
    height: 260px;
    transition: height 0.5s ease;
  }
}