  @font-face {
    font-family: "TTLakes";
    src: url("/fonts/TTLakesBold.woff") format("woff"), url("/fonts/TTLakesBold.woff2") format("woff2");
    font-weight: 700; }
  
  @font-face {
    font-family: 'TTLakes';
    src: url("/fonts/TTLakes-Medium.woff") format("woff"), url("/fonts/TTLakesMedium.woff2") format("woff2");
    font-weight: 500; }
  
  @font-face {
    font-family: 'TTLakes';
    src: url("/fonts/TTLakes-Regular.woff") format("woff"), url("/fonts/TTLakesRegular.woff2") format("woff2");
    font-weight: 400; }
    
html {
        box-sizing: border-box;
}
      *, 
      *:before, 
      *:after {
        box-sizing: inherit;
}
:root {
        --font-family: "TT Lakes", sans-serif;
}
body {
      margin:0;
      padding: 0;
      background-color: #fff;
}
  
ul {
      list-style: none;
}
button {
  border:none;
  background-color: #fff;
  padding: 0;
}
  a:hover {
    transition: 0.4s;
      opacity: 50%;
}
button:hover {
  transition: 0.4s;
  opacity: 50%;
}
a {
      text-decoration: none;
      color: inherit;
}
   
.main__burger-menu {
  max-width: 320px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.header-menu__container {
  display: flex;
  justify-content: space-between;
  margin:0 24px;
  margin-bottom: 46px;
  padding-top: 18px;
}

.header-menu__left {
  display: flex;
}

.logo-menu {
  margin-left: 17px;
}

.navigation-menu__link--active {
  opacity: 50%;
}

.navigation-menu__link--active:hover {
  opacity: 1;
}
.navigation-menu__link--active::after {
  content: "";
  height: 40px;
  width: 4px;
  position:absolute;
  border-radius: 2px;
  background-color: #41f6d7;
  left: -1px;
  transform: translateY(-25%);
}

.navigation-menu__link {
  font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: -0.01em;
color: #1b1c21;
}
.navigation-menu {
  display: flex;
padding: 0;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.navigation-menu__list {
  padding-bottom: 32px;
}

.description-container {
  margin-top:268px;
  display: flex;
  flex-direction: row;
}

.navigation {
  padding: 0;
  padding-left: 24px;
}
.description-footer {
  padding-left: 24px;
}

.description-footer__bottom {
display: flex;
flex-direction: column;
align-items: flex-start;
}

.description-footer__button {
  margin-left:16px;
}

.description-footer__mail {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #1b1c21;  
  margin-top: 16px;
}

.description-footer__phone {
font-family: var(--font-family);
font-weight: 700;
font-size: 24px;
line-height: 133%;
letter-spacing: -0.03em;
color: #1b1c21;
margin-top: 12px;
}

.lang__button {
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: -0.01em;
color: #1b1c21;
margin-top:40px;
}

.lang {
padding-bottom: 32px;  
}
.lang__button--hover {
  opacity: 50%;
}
.lang__button--hover:hover {
  opacity: 1;
}